<% content_for :title, "Editar participação" %>

<div class="container-fluid mt-4">
  <%= flash_message(@participation) %>

  <div class="card shadow-sm w-100">
    <div class="card-header">
      <h4 class="mb-0">Adicionar Participação</h4>
    </div>
    
    <%= render "form", participation: @participation %>
  </div>
</div>
