<div class="d-flex">
<nav class="flex-column bg-light vh-100 p-3" style="width: 250px;">
  <a href="<%= root_path %>" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <span class="fs-4">Mini Score</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="<%= root_path %>" class="nav-link text-dark">Início</a>
    </li>
    <li class="nav-item">
      <a href="<%= players_path %>" class="nav-link text-dark">Jogadores</a>
    </li>
    <li class="nav-item">
      <a href="<%= matches_path %>" class="nav-link text-dark">Partidas</a>
    </li>
  </ul>
</nav>