<% content_for :title, "Editar partida" %>

<% if @match %>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">Editar Partida</h5>
          </div>
          <%= render "form", match: @match %>
        </div>
      </div>
    </div>
<% else %>
  <div class="container-fluid mt-4">
    <p>Partida nao encontrada</p>
  </div>
<% end %>
